---
import type { CollectionEntry } from 'astro:content';
import { shortDate } from '@helpers/date';

interface Props {
    entry: CollectionEntry<'education'>
}

const { entry } = Astro.props;
---

<article>
    <div>
        <h5>{entry.data.award}</h5>
        <small>{entry.data.school}</small>
    </div>

    <span>
        {shortDate(entry.data.startDate)} 
        &mdash; 
        {shortDate(entry.data.endDate)} 
    </span>
</article>

<style>
    article {
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }
</style>