---
interface Props {

}

const {  } = Astro.props;

const year = new Date().getFullYear();
---

<footer>
    <span class="copy">&copy; Fraser Watt {year}.</span>
    <!-- <div style="display: flex; flex-direction: row; gap: 1rem; width: 100%; align-items: center;">
        <span style="border-bottom: 1px solid white; flex: 1;"></span>
        <span class="copy">&copy; Fraser Watt {year}.</span>
        <span style="border-bottom: 1px solid white; flex: 1;"></span>
    </div> -->


</footer>


<style>
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1rem;

        margin-top: auto;
        /* border-top: 0.25rem solid var(--secondary-color); */

        .copy {
            font-family: monospace;
        }
    }
</style>