---
interface Props {

}

const {  } = Astro.props;

const year = new Date().getFullYear();
---

<footer>
    <span class="copy">&copy; Fraser Watt {year}.</span>
</footer>


<style>
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1rem;

        margin-top: auto;

        .copy {
            font-family: monospace;
        }
    }
</style>