---
import { fullname } from 'src/site.config';

const year = new Date().getFullYear();
---

<script is:inline data-astro-rerun>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>

<footer>
    <span class="copy">&copy; {fullname} <span id="year">{year}</span>.</span>
</footer>


<style>
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1rem;

        margin-top: auto;

        .copy, #year {
            font-family: monospace;
        }
    }
</style>