---
interface Props {
    label: string;
    href: string;
    external?: boolean;
}

const { label, href, external } = Astro.props;
---

<a href={href}>{label} {external && '->'}</a>

<style>
    a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.2rem;
    }
</style>