---
import Hero from "@components/Hero.astro";
import Link from "@components/Link.astro";
import MailButton from "@components/MailButton.astro";
import ThemeButton from "@components/ThemeButton.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="" description="" header={false} flex>
    <div class="container">
        <Hero title="Fraser Watt">
            <div slot="subtitle" class="subtitle-slider">
                <span>Full-stack Developer</span>
                <span>Lego enthusiast</span>
                <span>Gaming buff</span>
                <span>Homelab enjoyer</span>
            </div>
        </Hero>

        <nav>
            <Link url="/projects">Projects</Link>
            <Link url="/cv">CV / Résumé</Link>
        </nav>

        <div class="socials">
            <MailButton></MailButton>
            <Link url="https://linkedin.com/in/fraser-w" icon="ri:linkedin-box-fill" aria-label="LinkedIn" />
            <Link url="https://git.fwatt.dev" icon="ri:github-fill" aria-label="GitHub" />
        </div>
    </div>
</Layout>

<style>
    .container {
        display: grid;
        place-items: center;
        place-content: center;

        flex: 1;
        gap: 1.5rem;
    }

    @keyframes slide {
        10% { margin-top: 0; } 25% { margin-top: -20px; }
        30% { margin-top: -20px; } 40% { margin-top: -40px; }
        60% { margin-top: -40px; } 70% { margin-top: -60px; }
        85% { margin-top: -60px; } 95% { margin-top: 0; }
        100% { margin-top: 0; }
    }

    .subtitle-slider {
        height: 20px;
        overflow: hidden;
        position: relative;

        span { display: block; }

        span:first-child {
            animation: slide 6s linear infinite;
        }
    }

    nav {
        display: flex;
        gap: 1rem;

        a {
            text-decoration: none;
            border-bottom: 1px solid var(--d-white-color);
            padding-bottom: 1px;
            font-weight: 500;
        }

        font-size: var(--h5-font-size);
    }

    .socials {
        display: flex;
        gap: 1rem;
        padding-top: 1rem;
    }

    :global(footer) {
        justify-content: center;
    }
</style>
