---
interface Props {
    title: string;
    subtitle?: string;
    socials?: boolean
}

const { title, subtitle, socials } = Astro.props;
---
<section class="hero">
    <div class="hero-content">
        <article class="hero-intro">
            <h1 class="title">{title}</h1>
            <div class="subtitle"><slot name="subtitle">{subtitle && subtitle}</slot></div>
        </article>
        
        {socials && 
        <article class="hero-social">
            <slot></slot>
        </article>
        }

    </div>
</section>

<style>
	.hero {
        display: flex;
        flex-direction: column;
        gap: 2rem;
	}

    .hero-content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media only screen and (min-width: 806px) {
            justify-content: space-between;
        }
    }

	.hero-intro {
		position: relative;
		max-width: fit-content;

        .title {
            font-size: var(--h1-font-size);
        }

		.subtitle {
			padding: 0.3rem 0.5rem;
			border: 1px solid var(--secondary-color);
			background-color: var(--primary-color);
			font-weight: 700;
		}
	}

	.hero-social {
		display: flex;
		gap: 1rem;
		padding: 1rem;
        flex-wrap: wrap;
        justify-content: center;
	}

    .hero-social > * {
        flex: 1;
    }
</style>