---

import { Icon } from 'astro-icon/components'
import type { IconOptions } from './IconOptions';
import type { HTMLAttributes } from 'astro/types';

export interface LinkProps extends Props {};

interface Props extends HTMLAttributes<'a'> {
    label?: string;
    url: string;
    icon?: string | IconOptions;
    type?: 'internal' | 'external' | null;
    btn?: boolean;
}

const { label, url, icon, type, btn, ...props } = Astro.props;

const currentPath = Astro.url.pathname;
const targetPath = url;

const pathMatches = 
    URL.canParse(targetPath) ? false :
    currentPath === targetPath ? true 
    : currentPath.startsWith(targetPath) && targetPath !==  '/';
---

<a href={url} class:list={[ { btn: btn, active: pathMatches } ]} {...props}>
    {icon && (typeof icon === 'string' ? 
        <Icon name={icon} size={32} ></Icon> :
        <Icon {...icon} ></Icon>
    )}
    <slot>{label && label}</slot>
    {type === 'external' && <Icon name="ri:external-link-line"></Icon>}
    {type === 'internal' && <Icon name="ri:links-fill" size={12}></Icon>}
</a>


<style>
    :root {
        --link-highlight-text-color: var(--text-color);
        --link-text-color: #d0d2d4;
    }

    a {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--link-text-color);

        cursor: pointer;

        &:hover, &.active, &:focus { 
            color: var(--link-highlight-text-color);
        }
    }

    .btn { text-decoration: none; }
</style>