---

import { Icon } from 'astro-icon/components'
interface Props {
    label?: string;
    target: string;
    icon?: string;
    external?: boolean;
    btn?: boolean;
}

const { label, target, icon, external, btn } = Astro.props;
---

<a href={target} class:list={[ { btn: btn } ]}>
    {icon && <Icon name={icon} size={32} ></Icon>}
    <slot>{label}</slot>
    {external && <Icon name="ri:external-link-line"></Icon>}
    {!external && <Icon name="ri:links-fill" size={12}></Icon>}
</a>


<style>
    a {        
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--text-color);
    }

    a:hover { color: var(--highlighted-text-color); }

    .btn {
        width: max-content;
        padding: 0.5rem 0.75rem;        
        
        border: 2px solid var(--accent-color);
        border-radius: 3px;

        background-color: var(--secondary-color);
        color: var(--text-color);

        text-decoration: none;        
    }

    .btn:hover {
        border: 2px solid var(--primary-color);
        color: var(--white-color);
    }
</style>