---

import { Icon } from 'astro-icon/components'

interface LinkIconOptions {
    name: string;
    size?: string | number;
    width?: string | number;
    height?: string | number;
}

interface Props {
    label?: string;
    target: string;
    icon?: string | LinkIconOptions;
    external?: boolean;
    btn?: boolean;
}

const { label, target, icon, external, btn } = Astro.props;
---

<a href={target} class:list={[ { btn: btn } ]}>
    {icon && (typeof icon === 'string' ? 
        <Icon name={icon} size={32} ></Icon> :
        <Icon {...icon} ></Icon>
    )}
    <slot>{label && label}</slot>
    {external && <Icon name="ri:external-link-line"></Icon>}
    {!external && label && <Icon name="ri:links-fill" size={12}></Icon>}
</a>


<style>
    a {        
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        color: var(--text-color);
    }

    a:hover { color: var(--highlighted-text-color); }

    .btn {
        width: max-content;
        padding: 0.5rem 0.75rem;        
        
        border: 2px solid var(--accent-color);
        border-radius: var(--b-radius);

        background-color: var(--secondary-color);
        color: var(--text-color);

        text-decoration: none;        
    }

    .btn:hover {
        border: 2px solid var(--primary-color);
        color: var(--white-color);
    }
</style>