---
interface Props {
    title: string;
    gap?: string;
}

const { title, gap } = Astro.props;
---
<section style={gap ? `gap: ${gap};` : ''}>
    <h2 class="title">{title}</h2>
    <slot></slot>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .title {
        color: var(--text-color);
        border-bottom: 5px solid var(--secondary-color);
    }
</style>