---
import { slugify } from '@helpers/slugify';
import type { HTMLAttributes } from 'astro/types';
import Heading from './heading/Heading.astro';

interface Props extends HTMLAttributes<"section"> {
    title: string;
    heading?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5';
    gap?: string;
}

const { title, heading, gap, ...props } = Astro.props;
---
<section {...props}>
    <Heading is={heading ?? 'h2'} slug={slugify(title)} underline>{title}</Heading>
    <slot />
</section>

<style define:vars={{ 'section-gap': gap }}>
    section {
        display: flex;
        flex-direction: column;
        gap: var(--section-gap, 1rem);
    }

    .title {
        border-bottom: 5px solid var(--primary-color);
    }
</style>