---
import { type CarouselItemProps } from './CarouselItem.astro';
import CarouselContainer from './CarouselContainer.astro';
import CarouselIndicators from './CarouselIndicators.astro';
import CarouselPagination from './CarouselPagination.astro';

interface Props {
    items: CarouselItemProps[];
}

const { items } = Astro.props;
---

<script src="./carousel.component.ts"></script>

<f-carousel>
    <div class="content">
        <CarouselIndicators slot="indicators"></CarouselIndicators>
        <CarouselContainer items={items}></CarouselContainer>
    </div>

    <CarouselPagination pages={items.length}></CarouselPagination>
</f-carousel>

<style>
    f-carousel {
        position: relative;

        display: flex;
        flex-direction: column;

        .content {
            position: relative;
            display: flex;
            height: 14em;

            border-radius: var(--b-radius);
        }
    }
</style>