---
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';
import NavItem from '@components/layout/NavItem.astro';
import Banner from '@components/layout/Banner.astro';

interface Props {
	title: string;
	description: string;
	banner: string;
}

const { title, description, banner } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	</head>

	<body>
		{banner && <Banner>{banner}</Banner>}
		<!-- <Header>
			<span slot="title">fwatt.dev</span>
			<NavItem slot="nav" label="Home" href="/"></NavItem>
			<NavItem slot="nav" label="Projects" href="/projects"></NavItem>
			<NavItem slot="nav" label="CV" href="/cv"></NavItem>
		</Header> -->
		<main><slot /></main>
		<Footer></Footer>
	</body>
</html>

<style is:global>
	:root {
		@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

		color-scheme: dark;

		--text-color: #eaf2f5;
		--highlighted-text-color: #1d8cb4;

		--primary-color: #1d8cb4;
		--secondary-color: #27537e;
		--accent-color: #7192b2;

		--background-color: #141d28;

		*, :before, :after {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {			
			display: flex;
			flex-direction: column;
			min-height: 100vh;

			font-family: 'Inter', Arial, sans-serif;
			font-weight: 400;

			background-color: var(--background-color);
		}

		h1, h2, h3, h4, h5 {
			font-family: 'Inter', Arial, sans-serif;
			font-weight: 700;
		}

		html { font-size: 100%; } /* 16px */
		h1 { font-size: 4.210rem; /* 67.36px */ }
		h2 { font-size: 3.158rem; /* 50.56px */ }
		h3 { font-size: 2.369rem; /* 37.92px */ }
		h4 { font-size: 1.777rem; /* 28.48px */ }
		h5 { font-size: 1.333rem; /* 21.28px */ }
		small { font-size: 0.750rem; /* 12px */ }

		
		header, 
		footer, 
		main {
			width: 100%;
			max-width: 58rem;
			margin-left: auto;
			margin-right: auto;
		}

		main {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1rem;
		}

		ul {
			padding-inline-start: 1.2rem;

			li { padding-bottom: 0.25rem; }
    		li:last-child { padding-bottom: 0; }
		}
	}

	/* @media (prefers-color-scheme: light) {
		:root {
			color-scheme: light;

			--text-color: #06121e;
			--highlighted-text-color: #1d8cb4;

			--primary-color: #1d8cb4;
			--secondary-color: #27537e;
			--accent-color: #7192b2;

			--background-color: #141d28;
		}		
	}

	@media (prefers-color-scheme: dark) {
		:root {
			color-scheme: dark;

			--text-color: #eaf2f5;
			--highlighted-text-color: #1d8cb4;

			--primary-color: #1d8cb4;
			--secondary-color: #27537e;
			--accent-color: #7192b2;

			--background-color: #141d28;
		}
	} */
</style>
